/* azul escuro principal rgb(10,25,65)
azul escuro secundario gradiante rgb (15,35,65)
dourado primario rgb(184,134,58)
dourado secundário rgb(212,170,95)
texto principal branco rgb(255,255,255)
texto secundario cinza rgb(200,200,200)
texto em fundo clario cinza escuro rgb(40,40,40) */


:root{
    --azulEscuro:rgb(10,25,65);
    --azulEscuro2:rgb(15,35,65);
    --dourado1:rgb(184,134,58);
    --dourado2:rgb(212,170,95);
    --textoBranco1:rgb(255,255,255);
    --textoCinza2:rgb(240,240,240);
    --textoFundoClaro:rgb(40,40,40);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: black;
    
}
.wrapper{
    max-width: 80%;
    margin: 50px auto;
    
}

.cabecalho{
    display: flex;
}


.logo{
    flex: 2;
    border-top-left-radius: 10px;
    background: var(--azulEscuro);
    height: auto;
   

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
   max-width: 100%;
   height: auto;
    
    
}

.usuario{
    flex: 8;
    background: var(--textoCinza2);
    border-top-right-radius: 10px;
    
    
}

.container{
    display: flex;
    height: 500px;


    
}

.menuLateral{
    flex: 2;
    background: linear-gradient(1deg,var(--azulEscuro), var(--azulEscuro2));
    color: var(--textoBranco1);
    border-bottom-left-radius: 10px;
    text-align: center;
    
}

.paginaPrincipal{
    flex: 8;
    background: var(--textoBranco1);
    border-bottom-right-radius: 10px;
    text-align: center;
    
    
}

.menuLateral a{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    font-size: large;
    text-align: left;
    color: var(--textoBranco1);
    margin-left: 40px;
    margin-top: 20px;
    transition: all 0.3s ease;
}
.menuLateral a img{
    width: 20px;
    height: 20px;
}

.menuLateral a:hover{
    color: var(--dourado1);
    font-size: 1.1em;
}